body {
  font-family: sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

#header {
  padding: 15px 30px;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cloud-name {

}

#directory-name {
  font-weight: bold;
}

#content {
  margin: 50px 150px;
}

.file {
  border-bottom: 1px solid lightgrey;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #28bcff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0cb3ff;
}

input[type="file"] {
  display: none;
}

.upload {
  background-color: #4bcd8f;
}

.upload:hover {
  background-color: #3bc885;
}
